<app-testcomponent></app-testcomponent>
<div class="container">
<div class="row headerBar">
    <div class="col-lg-6">
        
    </div>
    <div class="col-lg-6">

        <ul class="navbar">
            <li>
                <a routerLink="home">Home</a>
            </li>
            <li>
                <a routerLink="login">Login</a>
            </li>
            <li>
                <a routerLink="register">Register</a>
            </li>
            <li>
                <a routerLink="employee">Employee</a>
            </li>
            <li>
                <a routerLink="users">users</a>
            </li>
            <li>
                <a routerLink="expenses">expenses</a>
            </li>
            <li>
                <a routerLink="category">category</a>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
</div>